<header class="bg-success p-2 text-white bg-opacity-75">
  <h1>Ejemplos de rutas y formularios</h1>
  </header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{today | date: "dd/MM/yyyy"}}</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/ver">Ver</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/insertar">Insertar</a>
          </li>
        </ul>
      </div>
  </nav>

  <main class="container bg-light">
<router-outlet></router-outlet>
</main>